.box {
    height: 100px;
   /* background-clip: content-box;
    padding: 5px;*/
}

.pink {
    background-color: #F5C6D6;
}

.red {
    background-color: #EE2E84;
}

.blue {
    background-color: #85CFD8;
}

.green {
    background-color: #8DC63F;
}

.orange {
    background-color: #E76E34;
}


li {
    list-style: none;
    display: inline-block;
    border: 1px solid gray;
    border-radius: 5px;
    color: antiquewhite;
    background-color: burlywood;
    box-shadow: 3px 3px 10px black;
    margin-right: 20px;
    padding: 8px;
    text-shadow: 
}

